.ipynb_checkpoints/
__pycache__/
nltk_data/
*.pyc

# 忽略 outputs 下所有文件
/outputs/**

# 允许 Git 遍历子目录
!/outputs/**/

# 只允许 tokenizer.json
!/outputs/**/tokenizer.json

# 保留空目录占位文件
!/outputs/.gitkeep

checkpoints/
*.pt
*.pth
*.bin

.idea/
.vscode/

.env
notebooks/*